<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PET PARK!</title>
    <link rel="stylesheet" href="/assets/stylesheets/style.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/phaser@3.15.1/dist/phaser-arcade-physics.min.js"
    ></script>
    <script
      src="https://kit.fontawesome.com/1b91a1df46.js"
      crossorigin="anonymous"
    ></script>

  </head>

  <body>
    <div class="wrapper">
      <header>
        <a href="/"><img
            src="/assets/images/Logo.svg"
            alt="pet-park-logo"
          /></a>
        <nav>
          <!-- Unordered list element -->
          <ul>
            <!-- List item element -->
                     {{#if loggedIn}}
            <li>
              <button id="logout" class="btn">logout</button>
            </li>
            {{/if}}
          </ul>
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        <div>
          <br />
          &copy; 2022 Pet Park, Inc.
        </div>
      </footer>
    </div>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>

</html>