<form class="createpet-form">
  <div>
    <label for="name-signup">Name:</label>
    <input type="text" id="name-signup" />
  </div>
  <div>
    <label for="species-signup">Species:</label>
    <input type="text" id="species-signup" />
  </div>
  <div>
    <label for="description-signup">Description:</label>
    <input type="text" id="description-signup" />
  </div>
  <div>
    <button type="submit">CREATE</button>
  </div>
</form>

<script src="/javascript/createpet.js"></script>