<link rel="stylesheet" href="./assets/stylesheets/secondary-styles.css" />

<h2>Create Your Pet</h2>
<form class="createpet-form login-form">
  <div class="form-control">
    <label for="name-signup"></label>
    <input type="text" id="name-signup" placeholder="Name:" />
  </div>
  <div class="form-control-select">
    <label for="species-signup">Species:</label>
    <select type="select" id="species-signup" >
      <option value ="" >Select A Species</option>
      <option value = "cat">Cat</option>
      <option value = "chick">Chick</option>
      <option value = "fox">Fox</option>
      <option value = "mouse">Mouse</option>
      <option value = "pig">Pig</option>
      <option value = "rabbit">Rabbit</option>
    </select>
  </div>
  <div class="form-control">
    <label for="description-signup"></label>
    <input type="text" id="description-signup" placeholder="Description:" />
  </div>
  <div>
    <button type="submit" class="btn">CREATE</button>
  </div>
</form>

<script src="/javascript/createpet.js"></script>