<form class="createpet-form">
  <div>
    <label for="name-signup">Name:</label>
    <input type="text" id="name-signup" />
  </div>
  <div>
    <label for="species-signup">Species:</label>
    <select type="select" id="species-signup" >
      <option value ="" >Select A Species</option>
      <option value = "cat">Cat</option>
      <option value = "chick">Chick</option>
      <option value = "fox">Fox</option>
      <option value = "mouse">Mouse</option>
      <option value = "pig">Pig</option>
      <option value = "rabbit">Rabbit</option>
    </select>
  </div>
  <div>
    <label for="description-signup">Description:</label>
    <input type="text" id="description-signup" />
  </div>
  <div>
    <button type="submit">CREATE</button>
  </div>
</form>

<script src="/javascript/createpet.js"></script>