<section>
  <a href="/login" target="_parent"><button
      class="btn"
      style="font-size: larger"
    >Enter!</button></a>
</section>
<!-- About the game section -->
<section id="about-pet-park" class="intro">
  <h2>About the Game</h2>
  <p>
    Pet park is a platform designed for pet lovers to socialize and play with
    one another. In the virtual world of pet park, you'll choose from six new
    pet species, customize them, and take them out to explore the park and meet
    friends. This game include features such customizing a pet of your choice
    and ability to talk to one another through chat feature.
  </p>
</section>