<link rel="stylesheet" href="./assets/stylesheets/secondary-styles.css" />
<div class="flex-parent">

  <div class="container">
    <h1>Login</h1>
    <form class="login-form">
      <div class="form-control">
        <label for="email-login"></label>
        <input type="text" id="email-login" placeholder="email:" />
      </div>
      <div class="form-control">
        <label for="password-login"></label>
        <input type="password" id="password-login" placeholder="password:" />
      </div>
      <div>
        <button type="submit" class="btn">login</button>
      </div>
    </form>
  </div>

  <div class="container">
    <h1>Sign Up</h1>
    <form class="signup-form">
      <div class="form-control">
        <label for="username-signup"></label>
        <input type="text" id="username-signup" placeholder="username:" />
      </div>
      <div class="form-control">
        <label for="email-signup"></label>
        <input type="text" id="email-signup" placeholder="email:"/>
      </div>
      <div class="form-control">
        <label for="password-signup"></label>
        <input type="password" id="password-signup" placeholder="password:"/>
      </div>
      <div>
        <button type="submit" class="btn">signup</button>
      </div>
    </form>
  </div>

</div>
<script src="/javascript/login.js"></script>